{% extends "base.html" %}
{% load static %} 
    {% block body %}   
        <!-- Featured Content -->
        <section class="container-fluid my-4 px-5">
            <div class="row ">
                <h2 class="text-center mb-4"> Preferred Articles </h2>
            </div>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-3 mb-3">
                        <div class="card shadow-sm bg-dark bg-gradient text-white" style='border: 8px solid #000;'>
                            {% if article.urlToImage %}
                                <div class="ratio ratio-16x9">
                                    <img src="{{ article.urlToImage }}" class="card-img-top" alt="{{ article.title }}" style="object-fit: cover;">
                                </div>
                            {% else %}
                                <div class="ratio ratio-16x9">
                                    <img src="{% static 'images/TrendTailor.png' %}" class="card-img-top" alt="{{ article.title }}" style="object-fit: cover;">
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-truncate">{{ article.title }}</h5>
                                <p class="card-text">{{ article.description|truncatechars:70 }}</p>
                                <a href="{{ article.url }}" class="btn btn-primary stretched-link">Read More</a>
                            </div>
                        </div>
                     </div>
                {% endfor %}                
            </div>
        </section>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if articles.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{ articles.previous_page_number }}" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?p={{ articles.previous_page_number }}"> {{ articles.previous_page_number }} </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}   

                <li class="page-item">
                    <a class="page-link" href="?p={{ articles.number }}"> {{ articles.number }} </a>
                </li>             
                
                {% if articles.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?p={{ articles.next_page_number }}"> {{ articles.next_page_number }} </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?p={{ articles.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% endblock body %}